.Toggle {
    z-index: 1000;
    top: 290px;
    left: 4px;
    position: fixed;
    display: inline;
}   

.dark .leaflet-control-layers-expanded {        /** Marker display color **/
    padding: 6px 10px 6px 6px;
    color: #333;
    background: #E0E0E0;
  }


.dark .leaflet-bar a,.leaflet-bar a:hover {     /** Geoman colors **/
    background-color: #E0E0E0;
    border-bottom: 1px solid #ccc;
    width: 31x;
    height: 30px;
    line-height: 30x;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
  }
