.Toggle {
    z-index: 1000;
    top: 290px;
    left: 4px;
    position: fixed;
    display: inline;
}   

/*   Changes the color of the dark mode button  */
.dark .Toggle .react-toggle-track  {
    background-color: #4AC7C1 !important; 
  }


.Toggle .react-toggle-thumb {
    background-color: skyblue !important;
}
  
.Toggle .react-toggle-thumb {
    background-color: white !important; 
  }


/*  Changes the color of the clusters in dark mode  */
.dark .marker-cluster-small {
  background-color: rgba(102, 141, 66, 0.6);
    }
.dark .marker-cluster-small div {
  background-color: rgba(74, 136, 38, 0.589);
    }
  
.dark .marker-cluster-medium {
  background-color: rgba(138, 113, 12, 0.6);
    }
.dark .marker-cluster-medium div {
  background-color: rgba(177, 144, 15, 0.6);
    }
  
.dark .marker-cluster-large {
  background-color: rgba(201, 113, 75, 0.6);
    }
.dark .marker-cluster-large div {
  background-color: rgba(192, 101, 15, 0.6);
    }