.Toggle {
    z-index: 1000;
    top: 290px;
    left: 4px;
    position: fixed;
    display: inline;
}   

/*   Changes the color of the dark mode button  */
.dark .Toggle .react-toggle-track  {
    background-color: #4AC7C1 !important; 
  }


.Toggle .react-toggle-thumb {
    background-color: skyblue !important;
}
  
.Toggle .react-toggle-thumb {
    background-color: white !important; 
  }

