.wrapper {
  padding: 0.25rem 1.25rem;
}

.content {
  margin: 0;
}

.list {
  padding: 0.4rem;
}

.list > h3 {
  padding: 0;
  margin: 0;
}

.li{
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 520px){
  .wrapper{
    width: 280px;
  }
  
  .list {
    height: 320px;
    overflow: auto;
  }

}

@media (max-height: 520px){

  .list {
    height: 120px;
    max-width: 400px;
    overflow: auto;
  }

}

