.wrapper {
  display: flex;
}

.wrapper > div {
  border-radius: 3px;
}

.placename {
  display: block;
  text-align: center;
  margin: 0px 4px;
}

.content {
  margin: 0;
}

.list {
  padding: 0.4rem;
}

.list > button {
  background-color: #020202;
  width: 100%;
  color: #f0f0f0;
}

.list > .warning {
  background-color: #2f0202;
  border: 2px red solid;
}

.list > h3 {
  padding: 0;
  margin: 0;
}

.li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.wrapper > div:last-child {
  visibility: hidden;
}


@media only screen and (max-width: 600px) {
  .wrapper{
    display: flex;
  }
  
  .list {
    overflow: auto;
  }
}
