
.modal-content {
  background-color: #fff;
  /* right: 0;
  bottom: 0; */
  /* position: absolute; */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  height: 100vh;
  z-index: 9999;
  align-items: center;
}
.modal-show {
  border: oldlace;
  border-style: double;
  color: bisque;
}
.modal-content h2 {
  vertical-align: top;
  
}
.modal-sensor-list{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}
.modal-data-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  top: 0;
  left: 0;
  width: 90vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.8); /* Example background color */
  z-index: 9999;
  align-items: center;
  justify-content: center;
}
.sensor-groups {
  display: block;
  align-items: center;
  justify-content: left;
}
.modal-content h2{
  color: burlywood;
}
.modal-content button{
  display: inine-block;
  position: relative;
  margin: auto;
  left: 15%;
  height: 2.5rem;
  border: oldlace;
  border-style: double;
  color: bisque;
}
.s-name {
  display: flex;
  position: relative;
  margin: auto;
  left: 45%;
  margin-bottom: 2.5vh;
  font-size: 1.5rem;
}
.sensor-groups h3 {
  display: flex;
  position: relative;
  margin: auto;
  padding: 0;
  left: 1vw;
}
.dark .modal-content {
  background-color: #333;
  color: #ddd;
}