.modal-content {
  background-color: #fff;
  /* right: 0;
  bottom: 0; */
  /* position: absolute; */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  height: 100vh;
  z-index: 9999;
  align-items: center;
}
.modal-content h2 {
  vertical-align: top;
  
}
.modal-sensor-list{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-data-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  top: 0;
  left: 0;
  width: 90vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.8); /* Example background color */
  z-index: 9999;
  align-items: center;
  justify-content: center;
}
