# .gitlab-ci.yml

stages:
  - build

build:
  stage: build
  image: node:latest
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN% $CI_REGISTRY
    - docker build -t travis .
    - docker push travis
  tags: 
    - docker
