# .gitlab-ci.yml

stages:
  - build

build:
  stage: build
  image: node:latest
  only:
    - main
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t travis .
    - docker push gitlab.labranet.jamk.fi:4567/wimma-lab-2023/iotitude/traffic-visualizer
  tags: 
    - docker
