# .gitlab-ci.yml

stages:
  - build

build:
  stage: build
  image: node:latest
  services:
    - docker:dind
  before_script:
    - docker login gitlab.labranet.jamk.fi:4567 --password-stdin $CI_PASSWORD
    - docker build -t gitlab.labranet.jamk.fi:4567/wimma-lab-2023/iotitude/traffic-visualizer .
    - docker push gitlab.labranet.jamk.fi:4567/wimma-lab-2023/iotitude/traffic-visualizer
  script:
    - curl "https://gitlab.labranet.jamk.fi:4567?private_token=<glpat-PTRMb9bmUZ2BuGDz8_9F>"
    - docker info
  tags: 
    - docker
