# .gitlab-ci.yml

stages:
  - build

build:
  stage: build
  image: node:latest
  services:
    - docker:dind
  script:
    - echo "$CI_JOB_TOKEN" | docker login -u "AA7776" --password-stdin gitlab.labranet.jamk.fi:4567
    - docker build -t gitlab.labranet.jamk.fi:4567/wimma-lab-2023/iotitude/traffic-visualizer .
    - docker push gitlab.labranet.jamk.fi:4567/wimma-lab-2023/iotitude/traffic-visualizer
  tags: 
    - docker
