# .gitlab-ci.yml

stages:
  - build

build:
  stage: build
  image: node:latest
  services:
    - docker:dind
  script:
    - echo "The job's stage is '$CI_JOB_STAGE'"
    - docker login registry.gitlab.com -u gitlab-ci-token -p $CI_JOB_TOKEN
    - docker build -t gitlab.labranet.jamk.fi:4567/wimma-lab-2023/iotitude/traffic-visualizer .
    - docker push gitlab.labranet.jamk.fi:4567/wimma-lab-2023/iotitude/traffic-visualizer
  tags: 
    - docker
