# .gitlab-ci.yml

stages:
  - build

build:
  stage: build
  image: node:latest
  services:
    - docker:dind
  script:
    - docker build -t travis .
    - docker login -u $CI_REGISTRY_USER --password-stdin $CI_JOB_TOKEN $CI_REGISTRY
    - docker push travis
  tags: 
    - docker
