# .gitlab-ci.yml

stages:
  - retrieve
  - build

retrieve:
  stage: retrieve
  image: node:latest
  script:
    - echo "The job's stage is '$CI_PROJECT_DIR'"
    - echo "${CI_REGISTRY_USER} ${CI_REGISTRY_PASSWORD} credentials '$CI_REGISTRY_USER' '$CI_REGISTRY_PASSWORD' '$CI_JOB_TOKEN'"
  tags:
    - general


build:
  stage: build
  image: node:latest
  services:
    - docker:dind
  script:
    - echo "credentials checkkkkkkk ****  '%CI_REGISTRY_USER%' "
  tags: 
    - docker
