# .gitlab-ci.yml

stages:
  - build

build:
  stage: build
  image: node:latest
  services:
    - docker:dind
  script:
    - docker build -t gitlab.labranet.jamk.fi:4567/wimma-lab-2023/iotitude/traffic-visualizer .
    - curl "https://gitlab.labranet.jamk.fi:4567?private_token=<glpat-PTRMb9bmUZ2BuGDz8_9F>"
    - echo "$CI_JOB_TOKEN" | docker login -u glpat-PTRMb9bmUZ2BuGDz8_9F --password-stdin gitlab.labranet.jamk.fi:4567
    - docker push gitlab.labranet.jamk.fi:4567/wimma-lab-2023/iotitude/traffic-visualizer
  tags: 
    - docker
