:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black
}

.leaflet-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay-title {
  top: 0px;
  left: 100px;
  font-size: 40px;
  width: 400px;
  position: fixed;
  display: inline;
  z-index: 1000;
  color: black;
  pointer-events: none;
}

.logosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  display: inline;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
}

.wimmaLabLogo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.iotitudeLogo {
  width: 100px;
  height: auto;
  margin-bottom: 13px;
}

.langContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  display: inline;
  z-index: 1000;
  bottom: 40px;
  right: 200px;
  pointer-events: auto;
  cursor: pointer;
}

/* DARK MODE CSS */

/* Changes the color of the maå when in dark mode */

body.dark .leaflet-layer,
body.dark .leaflet-control-attribution {
  filter: brightness(0.7) invert(1) contrast(3) hue-rotate(200deg) saturate(0.6) brightness(0.5);
}

/* Changes the color of title and logos when in dark mode */

body.dark .overlay-title {
  color: #c9cfee;
}

body.dark .iotitudeLogo,
body.dark .wimmaLabLogo {
  filter: brightness(1) invert(0.7) contrast(2) hue-rotate(200deg) saturate(3) brightness(01);
}

/* Changes the color of the marker's popup box and text in dark mode */
body.dark .marker-popup {
  background-color: #1f1f1f;
  color: #e5e5e5; 
}

body.dark .leaflet-popup-content-wrapper {
  background-color: #1f1f1f;
  color: #e5e5e5; 
}


/*  Changes the color of the clusters when in dark mode  */
.dark .marker-cluster-small {
  background-color: rgba(102, 141, 66, 0.6);
    }
.dark .marker-cluster-small div {
  background-color: rgba(74, 136, 38, 0.589);
    }
  
.dark .marker-cluster-medium {
  background-color: rgba(138, 113, 12, 0.6);
    }
.dark .marker-cluster-medium div {
  background-color: rgba(177, 144, 15, 0.6);
    }
  
.dark .marker-cluster-large {
  background-color: rgba(201, 113, 75, 0.6);
    }
.dark .marker-cluster-large div {
  background-color: rgba(192, 101, 15, 0.6);
    }

  
.dark .leaflet-control-layers-expanded {        /** Marker display color **/
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #E0E0E0;
}


.dark .leaflet-bar a,.leaflet-bar a:hover {     /** Leaflet button colors **/
  background-color: #352a2a;
  border-bottom: 1px solid #807a7a;
  width: 31x;
  height: 30px;
  line-height: 30x;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}

.react-toggle-track {
  background-color: rgb(91,91,91) !important /* Override the background color with your desired color */;
}