.leaflet-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.overlay-title {
  top: 0px;
  left: 100px;
  font-size: 40px;
  width: 400px;
  position: fixed;
  display: inline;
  z-index: 1000;
}

.overlay-filtering {
  top: 50px;
  right: 120px;
  margin-right: 40px;
  width: 50px;
  min-height:50px;
  position: fixed;
  display: inline;
  z-index: 1000;
}


/* .leaflet-marker-pane, .leaflet-shadow-pane {
  display: none;
} */

@media (prefers-color-scheme: dark) {
  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: brightness(0.7) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.5);
  }

}