:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black
  
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white
  }
}




.leaflet-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.overlay-title {
  top: 0px;
  left: 100px;
  font-size: 40px;
  width: 400px;
  position: fixed;
  display: inline;
  z-index: 1000;
  color: black;
  pointer-events: none;
}


.overlay-filtering {
  top: 50px;
  right: 120px;
  margin-right: 40px;
  width: 50px;
  min-height:50px;
  position: fixed;
  display: inline;
  z-index: 1000;
}

.logosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  display: inline;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
}

.wimmaLabLogo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.iotitudeLogo {
  width: 100px;
  height: auto;
  margin-bottom: 13px;
}

.overlay-opacity{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(219, 17, 17, 0.5);
}

.hidden {
  display: none;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_sInt,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratAlternates-Bold.ttf')  format('truetype');
}

body.dark .leaflet-layer,
body.dark .leaflet-control-attribution {
  filter: brightness(0.7) invert(1) contrast(3) hue-rotate(200deg) saturate(0.6) brightness(0.5);
}

body.dark .overlay-title {
  color: white;
}

body.dark .iotitudeLogo,
body.dark .wimmaLabLogo {
  filter: brightness(1) invert(1) contrast(2) hue-rotate(200deg) saturate(3) brightness(01);
}
