.Toggle {
    z-index: 1000;
    top: 290px;
    left: 4px;
    position: fixed;
    display: inline;
}   

.custom-classname.react-toggle--checked .react-toggle-track {
    background-color: #ab199f;
  }